# ============================================
# The Propertist — Environment Variables
# ============================================
# Copy this file to .env and fill in your values

# ---------- General ----------
NODE_ENV=development
PORT=5000

# ---------- MongoDB ----------
MONGODB_URI=mongodb+srv://curdapp:Rahul@12345@rahul-test.aeqvp.mongodb.net/

# ---------- JWT ----------
JWT_SECRET=thepropertiest@1137
JWT_REFRESH_SECRET=thepropertiest@1137
JWT_EXPIRE=15m
JWT_REFRESH_EXPIRE=7d

# ---------- Cloudinary ----------
CLOUDINARY_CLOUD_NAME=dwjsdh3qa
CLOUDINARY_API_KEY=634443242314264
CLOUDINARY_API_SECRET=EK63fSvOJmYOrerBuPgjd2xmn9Y

# ---------- Client ----------
CLIENT_URL=http://localhost:5173
